@using Microsoft.AspNetCore.WebUtilities
@model Domain.entities.search.IPaginatedResult

@{
    string pageNumberParameter = ViewData["PageNumberParameter"]?.ToString() ?? "PageNumber";
    string pageSizeParameter = ViewData["PageSizeParameter"]?.ToString() ?? "PageSize";

    int currentPage = Model.PageNumber;
    int totalPages = Model.TotalPages;

    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, currentPage + 2);

    string CreatePageUrl(int pageNumber)
    {
        Dictionary<string, string?> query = ViewContext.HttpContext.Request.Query
            .ToDictionary(
                item => item.Key,
                item => item.Value.ToString());

        query[pageNumberParameter] = pageNumber.ToString();
        query[pageSizeParameter] = Model.PageSize.ToString();

        return QueryHelpers.AddQueryString(
            ViewContext.HttpContext.Request.Path.ToString(),
            query);
    }
}

@if (totalPages > 1)
{
    <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
            Page @currentPage of @totalPages
            <span class="ms-1">
                (@Model.TotalItems item(s))
            </span>
        </p>

        <ul class="pagination m-0 ms-auto">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                @if (Model.HasPreviousPage)
                {
                    <a class="page-link" href="@CreatePageUrl(currentPage - 1)">
                        <i class="ti ti-chevron-left"></i>
                        Previous
                    </a>
                }
                else
                {
                    <span class="page-link">
                        <i class="ti ti-chevron-left"></i>
                        Previous
                    </span>
                }
            </li>

            @if (startPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@CreatePageUrl(1)">1</a>
                </li>

                @if (startPage > 2)
                {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                }
            }

            @for (int pageIndex = startPage; pageIndex <= endPage; pageIndex++)
            {
                <li class="page-item @(pageIndex == currentPage ? "active" : "")">
                    @if (pageIndex == currentPage)
                    {
                        <span class="page-link">
                            @pageIndex
                        </span>
                    }
                    else
                    {
                        <a class="page-link" href="@CreatePageUrl(pageIndex)">
                            @pageIndex
                        </a>
                    }
                </li>
            }

            @if (endPage < totalPages)
            {
                @if (endPage < totalPages - 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" href="@CreatePageUrl(totalPages)">
                        @totalPages
                    </a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                @if (Model.HasNextPage)
                {
                    <a class="page-link" href="@CreatePageUrl(currentPage + 1)">
                        Next
                        <i class="ti ti-chevron-right"></i>
                    </a>
                }
                else
                {
                    <span class="page-link">
                        Next
                        <i class="ti ti-chevron-right"></i>
                    </span>
                }
            </li>
        </ul>
    </div>
}